@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('fonts/web/stylesheet.css');

body {
	background-color: #000000;
	font-family: 'Roboto', sans-serif;
}

.columnContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#leftColumn {
	color: #f0f0f0;
	font-family: 'ansonregular';
	left: 0%;
	position: absolute;
/*	border: 2px solid lightslategray;*/
	width: 14.5%;
	height: 97%;
	background-color: #6D98BA;
	top: 1.5%;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 0 20px 20px 0;
}

#leftColumn::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#leftColumn::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#leftColumn::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent);
	
}

#rightColumn {
	border-radius: 20px 0 0 20px;
	left: 84%;
	position: absolute;
/*	border: 2px solid black;*/
	width: 16%;
	height: 97%;
	background-color: #090809;
	top: 1.5%;
	color: #CCC9DC;
}

#middleColumn {
	left: 15.5%;
	position: absolute;
/*	border: 2px solid black;*/
	width: 65%;
	height: 95%;
	top: 1.5%;
	background-color: #DEE5E5;
	border-radius: 10px;
}

#chatBox  {
	font-size: 18px;
	position: absolute;
	/*border: 2px solid black;*/
	border: 0;
	border-radius: 0 0 5px 5px;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	height: 7%;
	top: 87%;
}

#chatBox:focus {
	/*border: 1px solid transparent;*/
	outline-width: 0;
}

#chatButton  {
	font-size: 18px;
	position: absolute;
	border: none;
	text-align: center;
	border-radius: 5px;
	width: 10%;
	height: 5.5%;
	right: 15px;
	bottom: 7px;
}

#chatButton:focus {
	border: none;
	outline-width: 0;
}

.ChatWindow {
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 5px;
	background-color: #DEE5E5;
	top: 10px;
	/*border: 2px solid black;*/
	border-radius: 5px 5px 0px 0px;
}

.ChatWindow::-webkit-scrollbar-track {
	border-radius: 10px;
}

.ChatWindow::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.ChatWindow::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
	
}

.message {
	padding-top: 1%;
	overflow-x: auto;
	font-size: 18px;
	padding: 5px 3%;
/*	border-top: 2px solid black;*/
}

.messageContent {
	display: inline;
	background-color: lightblue;
	border-radius: 15px 150px 150px 150px;
	padding: 5px;
}

.userNames {
	font-style: italic;
	display: inline;
	font-size: 18px;
	font-weight: bold;
}

#playersListHead {
	font-size: 20px;
	padding-bottom: 5px;
	/*border-bottom: 1px solid black;*/
	text-align: center;
	position: sticky;
	top: 0px;
	background-color: inherit;
}

.playersListUserNames {
	/*border-bottom: 1px solid black;*/
	font-style: italic;
	/*text-align: center;*/
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}

.playersListUserNames p {
	font-size: 18px;
	margin: auto;
	
	vertical-align: middle;
	display: inline-block;
	padding-top: 3%;
	padding-bottom: 3%;
}

.playersListUserNames img {
	width: 15%;
	position: absolute;
	display: inline-block;
	margin-left: 9%;
	background-color: white;
	border-radius: 50px;
}

.playersListUserNames:hover {
	background-color: rgb(98, 134, 167);
	transition-duration: 0.1s;
}

.rightClickMenu {
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
	visibility: hidden;
	left: 0px;
	top: 0px;
	background-color: white;
}

.rightClickMenuItem {
	font-size: 15px;
	margin: 0;
	border-radius: 5px;
	padding: 5px;
/*	border: 0.5px solid black;*/
	cursor: pointer;
	z-index: 1;
	background-color: white;
}

.rightClickMenuItem:hover {
	background-color: lightgrey;
	color: white;
}

#tabBar {
	position: relative;
	width: 97.5%;
	left: 1.5%;
	color: white;
	font-size: 15px;
	top: 1.6%;
}

.chatTab {
	margin-right: 0.5%;
	border-radius: 2px 5px 0 0;
	border-bottom: 0px;
	padding: 5px;
	padding-bottom: 0px;
	z-index: 1;
	display: inline;
	background-color: darkslategray;
	cursor: default;
}

#ChatWindows {
	height: 85%;
	width: 100%;
	position: relative;
}

.messageTime {
	color: gray;
	font-size: 10px;
	float: right;
	margin-right: 1%;
	margin-bottom: 0;
}

.CurrentMatchesList {
	list-style: none;
	text-align: center;
	margin: 0;
	padding-left: 0;
}

#CurrentMatchesHead {
	font-size: 20px;
	padding-bottom: 5px;
	left: 0;
	text-align: center;
	position: sticky;
	top: 0px;
	font-family: 'ansonregular';
}

.OpenMatchesList {
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin: 0;
}

#OpenMatchesHead {
	font-size: 20px;
	padding-bottom: 5px;
	text-align: center;
	position: sticky;
	top: 0px;
	font-family: 'ansonregular';
}

#playersListUserNamesContainer {
	overflow-x: hidden;
	overflow-y: auto;
	height: 80%;
}

#playersListUserNamesContainer::-webkit-scrollbar-track {
	border-radius: 10px;
}

#playersListUserNamesContainer::-webkit-scrollbar {
	width: 5px;
}

#playersListUserNamesContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
}

#ButtonContainer {
	background-color: grey;
	height: 8.5%;
}