@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('fonts/web/stylesheet.css');
@import url('fonts/fontawesome/fontawesome.min.css');

body {
	background-color: #000000;
	font-family: 'Roboto', sans-serif;
}

.columnContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#leftColumn {
	color: #f0f0f0;
	font-family: 'ansonregular';
	left: 0%;
	position: absolute;
/*	border: 2px solid lightslategray;*/
	width: 14.5%;
	height: 100%;
	background-color: #6D98BA;
	top: 0%;
	overflow-y: hidden;
	overflow-x: hidden;
	/*border-radius: 0 20px 20px 0;*/
	transition: width 0.5s;
	z-index: 1;
}

#leftColumn::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#leftColumn::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#leftColumn::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent);
	
}

#rightColumn {
	border-radius: 20px 0 0 20px;
	left: 84%;
	position: absolute;
/*	border: 2px solid black;*/
	width: 16%;
	height: 97%;
	background-color: #090809;
	top: 1.5%;
	color: #CCC9DC;
	transition: width 0.5s;
}

#middleColumn {
	left: 15.5%;
	position: absolute;
/*	border: 2px solid black;*/
	width: 65%;
	height: 95%;
	top: 1.5%;
	background-color: #DEE5E5;
	border-radius: 10px;
	transition: 0.5s;
}

#chatBox  {
	z-index: 3;
	font-size: 18px;
	position: absolute;
	/*border: 2px solid black;*/
	border: 0;
	border-radius: 0 0 5px 5px;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	height: 7%;
	top: 87%;
}

#chatBox:focus {
	/*border: 1px solid transparent;*/
	outline-width: 0;
}

#chatButton  {
	font-size: 18px;
	position: absolute;
	border: none;
	text-align: center;
	border-radius: 5px;
	width: 10%;
	height: 5.5%;
	right: 15px;
	bottom: 7px;
}

#chatButton:focus {
	border: none;
	outline-width: 0;
}

.ChatWindow {
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 5px;
	background-color: #DEE5E5;
	top: 10px;
	/*border: 2px solid black;*/
	border-radius: 5px 5px 0px 0px;
}

.ChatWindow::-webkit-scrollbar-track {
	border-radius: 10px;
}

.ChatWindow::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.ChatWindow::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
}

.message {
	padding-top: 1%;
	overflow-x: auto;
	font-size: 18px;
	padding: 5px 3%;
/*	border-top: 2px solid black;*/
}

.notice {
	padding-top: 1%;
	overflow-x: auto;
	font-size: 16px;
	color: rgb(66, 80, 83);
	padding: 5px 3%;
/*	border-top: 2px solid black;*/
}

.noticeOptions {
	display: inline;
	overflow-x: auto;
	font-size: 16px;
	color: rgb(33, 40, 41);
	text-decoration: underline;
	padding: 5px 1%;
/*	border-top: 2px solid black;*/
}

.messageContent {
	display: inline;
	background-color: lightblue;
	border-radius: 15px 150px 150px 150px;
	padding: 5px;
}

.userNames {
	font-style: italic;
	display: inline;
	font-size: 18px;
	font-weight: bold;
}

#playersListHead {
	font-size: 20px;
	padding-bottom: 5px;
	/*border-bottom: 1px solid black;*/
	text-align: center;
	position: sticky;
	top: 0px;
	background-color: inherit;
}

.playersListUserNames {
	user-select: none;
	/*border-bottom: 1px solid black;*/
	font-style: italic;
	/*text-align: center;*/
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}

.playersListUserNames p {
	font-size: 18px;
	margin: auto;
	
	vertical-align: middle;
	display: inline-block;
	padding-top: 3%;
	padding-bottom: 3%;
}

.playersListUserNames img {
	width: 15%;
	position: absolute;
	display: inline-block;
	margin-left: 9%;
	background-color: white;
	border-radius: 50px;
}

.playersListUserNames:hover {
	background-color: rgb(98, 134, 167);
	transition-duration: 0.1s;
}

.rightClickMenu {
	user-select: none;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
	visibility: hidden;
	left: 0px;
	top: 0px;
	background-color: white;
}

.rightClickMenuItem {
	font-size: 15px;
	margin: 0;
	border-radius: 5px;
	padding: 5px;
/*	border: 0.5px solid black;*/
	cursor: pointer;
	z-index: 1;
	background-color: white;
}

.rightClickMenuItem:hover {
	background-color: lightgrey;
	color: white;
}

#TabBarList {
	user-select: none;
	padding-left: 0;
	display: block;
	text-decoration: none;
	list-style: none;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	cursor: default;
	white-space: nowrap;
	text-overflow: '...';
}

#TabBarList::-webkit-scrollbar-track {
	border-radius: 10px;
}

#TabBarList::-webkit-scrollbar {
	height: 0px;
	background-color: #F5F5F5;
}

#TabBarList::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
}

#tabBar p{
	display: inline-block;
	margin-top: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	font-size: 20px;
	font-family: "Arial";
	margin-bottom: 0;
}

#tabBar p:hover{
	background-color: rgb(155, 161, 161);
}

#tabBar li:first-child p:hover{
	border-radius: 10px 0 0 0;
}

#tabBar {
	position: relative;
	width: 100%;
	height: 5%;
	left: 0;
	color: white;
	font-size: 15px;
	top: 0;
	background-color: #AEB5B5;
	border-bottom: 2px solid #3f3f3f;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 5px 5px #4f4f4f;
	overflow-x: auto;
}

.chatTab {
	margin-right: 0.5%;
	border-radius: 2px 5px 0 0;
	border-bottom: 0px;
	padding: 5px;
	padding-bottom: 0px;
	z-index: 1;
	display: inline;
	background-color: darkslategray;
	cursor: default;
}

#ChatWindows {
	height: 80%;
	width: 100%;
	position: relative;
}

.messageTime {
	color: gray;
	font-size: 10px;
	float: right;
	margin-right: 1%;
	margin-bottom: 0;
}

.CurrentMatches {
	user-select: none;
	width: 96%;
	height: 15%;
    display: block;
}

.CurrentMatchesList {
	list-style: none;
	text-align: center;
	margin: 0;
	padding-left: 0;
	width: inherit;
}

#CurrentMatchesHead {
	font-size: 20px;
	padding-bottom: 5px;
	left: 0;
	text-align: center;
	position: sticky;
	top: 0px;
	font-family: 'ansonregular';
	width: inherit;
}

.CurrentMatchesListContainer {
	height: 60%;
	overflow-y: hidden;
	background-color: #7DA8CA;
	border-top: 2px solid rgb(48, 88, 109);
	border-bottom: 2px solid rgb(160, 208, 245);
	color: white;
}

.OpenMatches {
	user-select: none;
	width: 96%;
	height: 15%;
	display: block;
}

.OpenMatch {
	cursor: pointer;
}

.OpenMatchesList {
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin: 0;
	width: inherit;
}

#OpenMatchesHead {
	font-size: 20px;
	padding-bottom: 5px;
	text-align: center;
	position: sticky;
	top: 0px;
	font-family: 'ansonregular';
	width: inherit;
}

.OpenMatchesListContainer {
	height: 60%;
	overflow-y: hidden;
	background-color: #7DA8CA;
	border-top: 2px solid rgb(48, 88, 109);
	border-bottom: 2px solid rgb(160, 208, 245);
	color: white;
}

#info {
	width: 96%;
	height: 15%;
    display: block;
}

#playersListUserNamesContainer {
	overflow-x: hidden;
	overflow-y: auto;
	height: 80%;
}

#playersListUserNamesContainer::-webkit-scrollbar-track {
	border-radius: 10px;
}

#playersListUserNamesContainer::-webkit-scrollbar {
	width: 5px;
}

#playersListUserNamesContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D62929;
}

#ButtonContainer {
	background-color: grey;
	height: 8.5%;
}

#leftColumnButton {
	display: none;
}

#rightColumnButton {
	display: none;
}

@media only screen and (max-height: 530px) {
	#TabBarList {
		height: 26px;
	}
	
	#tabBar {
		height: 26px;
	}
}

@media only screen and (max-width: 720px) {
	#leftColumn {
		width: 0px;
	}
	
	#middleColumn {
		left: 4%;
		width: 92%;
	}
	
	#rightColumn {
		width: 0;
		display: none;
		border-radius: 0;
		height: 100%;
	}
	
	#leftColumnButton {
		z-index: 2;
		position: absolute;
		display: initial;
		width: 4%;
		height: 2%;
		top: 2%;
	}
	
	#rightColumnButton {
		z-index: 2;
		position: absolute;
		display: initial;
		right: 0%;
		width: 4%;
		height: 2%;
		top: 2%;
	}
}

#ButtonsBar {
	padding-left: 7.5%;
	padding-right: 7.5%;
	background-color: #7DA8CA;
	border-top: 1px solid #4D88AA;
	border-bottom: 2px solid #8DB8DA;
	padding-top: 1%;
	padding-bottom: 1%;
}

#ButtonsBarFirst {
	display: inline;
}

#ButtonsBarSecond {
	display: inline;
}

.ButtonsBarButton {
	display: inline-block;
	cursor: pointer;
	padding-right: 4%;
	padding-left: 4%;
	transition: 0.2s;
	border-radius: 2px;
}

.ButtonsBar-ToolTip {
	display: inline;
	position: relative;
	z-index: 4;
}

.ButtonsBar-ToolTip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 3;
}

.ButtonsBar-ToolTip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 35%;
    position: absolute;
    z-index: 99;
}

.ButtonsBarButton:hover {
	background-color: #4D789A;
}

@media only screen and (max-width: 1432px) {
	.ButtonsBarButton {
		padding-left: 3%;
		padding-right: 3%;
	}

}

@media only screen and (max-width: 1284px) {
	.ButtonsBarButton {
		padding-left: 2%;
		padding-right: 2%;
	}

}

@media only screen and (max-width: 1158px) {
    #playersListUserNamesContainer {
        height: 70%;
    }
    
	.ButtonsBarButton {
		margin-left: 10%;
		padding-left: 2%;
		padding-right: 2%;
	}

	#ButtonsBarFirst {
		display: block;
	}

	#ButtonsBarSecond {
		display: block;
	}

}

#overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: -100;
}

#SettingsModal {
	background-color: #0f0f0f;
	width: 50%;
	height: 50%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;
}

#SettingsModal h1 {
	text-align: center;
}

#ProfileModal {
	background-color: #0f0f0f;
	width: 50%;
	height: 50%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;
}

#ProfileModal h1 {
	text-align: center;
}

#RoomsModal {
	background-color: #0f0f0f;
	width: 50%;
	height: 50%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;
}

#RoomsModal h1 {
	text-align: center;
}

.OpenMatch:hover {
    background-color: grey;
}

#OtherUserModal {
	background-color: #0f0f0f;
	width: 50%;
	height: 50%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;	
}

#OtherUserModal h1 {
	text-align: center;
}

#LogoutModal {
	background-color: #0f0f0f;
	width: 50%;
	height: 50%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;	
}

#LogoutModal h1 {
	text-align: center;
}

.option p {
	text-align: center;
}

.option p:hover {
	background-color: #4D789A;
}

#ChallengeModal{
	background-color: #0f0f0f;
	width: 50%;
	min-height: 20%;
	z-index: -9999;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
	border-radius: 10px;
}

#ChallengeModal h3 {
	text-align: center;
}

#RoomsTable {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	cursor: default;
}

#RoomsModal table th, #RoomsModal table td {
	width: 50%;
}

#RoomsModal table td {
	text-align: center;
}

.roomJoinButton {
	cursor: pointer;
}

#StartGameButton {
	width: 80%;
	background-color: lightcyan;
	border-radius: 10px;
	margin-left: 10%;
	text-align: center;
	color: black;
	cursor: pointer;
	padding: 3%;
}

#StartGameButton:hover {
	background-color: rgb(205, 252, 252);
}

.noticeOptions {
	cursor: pointer;
}